/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  min-height: 100vh;
  max-height: 100vh;
  background-color: #E7FEED;
}
.sidebar {
  position: fixed;
  height: 100%;
  width: 260px;
  background: #FFFFFF;
  padding: 15px;
  z-index: 99;
}
.logo {
  width: 80px;
  height: 60px;
}
.sidebar a {
  color: black;
  text-decoration: none;
}
.menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  overflow-y: scroll;
}
.menu-content::-webkit-scrollbar {
  display: none;
}
.menu-items {
  height: 100%;
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
}
.submenu-active .menu-items {
  transform: translateX(-56%);
}
.menu-title {
  color: black;
  font-size: 20px;
  padding: 15px 20px;
}
.item a,
.submenu-item {
  padding: 16px;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
}
.item i {
  font-size: 12px;
}
.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
  background: #B8B9BB;
  box-shadow: 0px 4px 4px #303030;
}

.item a:active,
.submenu-item:active,
.submenu .menu-title:active {
  box-shadow: 0px 2px 2px #131313;
  transform: translateY(5px);
}
.submenu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.submenu {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: calc(-100% - 26px);
  height: calc(100% + 100vh);
  background: #99A98F;
  display: none;
}
.show-submenu ~ .submenu {
  display: block;
}
.submenu .menu-title {
  border-radius: 12px;
  cursor: pointer;
}
.submenu .menu-title i {
  margin-right: 10px;
}
.navbar,
.main {
  left: 200px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 1000;
  
}
.sidebar.close ~ .navbar,
.sidebar.close ~ .main {
  left: 0;
  width: 100%;
}
.navbar {
  position: fixed;
  color: black;
  padding: 15px 20px;
  font-size: 25px;
  background: #F9FAFB;
  display: flex;
  align-items: center;
}
.navbar .sidebar-close {
  cursor: pointer;
  font-size: 25px;
  position: relative;
}


.navbar h3{
  font-size: 25px;
  align-self: center;
  margin-left: 5%;
}


.main {
  padding-top: 70px;
  position: relative;
  display: flex;
  z-index: 100;
}

.form {
  width: 70vw;
}


/*-----------------------------------------------------------------   */



/*---------------animation----------------*/

@keyframes rotateButton {
  100% {transform: rotate(360deg);}
}

/*-----------------table--------------------------*/
table tr td{
  text-align: center;
}

table{
  border-collapse: collapse;
}


td a{
  text-decoration: none;
  background-color: rgb(61, 142, 212);
  padding: 10px 15px;
  border-radius: 15px;
  color: white;
  font-weight: bold;
}

td a:hover{
  background-color: #13212c;
}
td a:active{
  background-color: rgb(61, 142, 212);
}

#promoVideo{
  background-color: white;
  padding: 10px 30px;
  border-radius: 3px;
  box-shadow: 15px 15px rgb(83, 83, 83);
}
#vidcontain{
  display: flex;
  flex-direction: column;
  width: 640px;
}

#vidcontain a{
  text-decoration: none;
  color: white;
  background-color: red;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 20px;
}

#vidcontain a:hover{
  background-color: rgb(117, 15, 55);
}

#vidcontain a:active{
  background-color: red;
}
.input-container{
  margin-left: 20px;
}
#vehicle1{
  margin-left: 20px;
}

.lot{
    width: 200px;
    height: 100px;
    padding: 60px;
    background-image:linear-gradient(to bottom right, rgb(213, 183, 208), rgb(173, 121, 177),rgb(204, 207, 175),rgb(212, 237, 91));
    right: 150px;
    border-radius: 15px;
    margin-left: 100px;
    margin-top: 20px;
}
.button-container {
  display: flex;
}

#rcorners1,
#rcorners2 {
  margin-top: 50px;
  margin-left: 30px;
  border-radius: 25px;
  padding: 20px;
  width: 200px;
  height: 30px;
  margin-right: 10px; 
  text-align: center; 
  line-height: 5px; 
}

#rcorners1 {
  background: #9d9d9d;
}

#rcorners2 {
  background: #f10606;
}
